/* 遮罩层 */
.mo-popup-wrap .mo-popup-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* 弹窗内容 */
.mo-popup-wrap .mo-popup-content {
  position: fixed;
  max-height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  min-height: 200px;
  font-size: 16px;
  z-index: 1000;
}
.mo-popup-wrap .mo-popup-content.popup-content-round {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.mo-popup-wrap .mo-popup-content .mo-pupup-cross {
  position: absolute;
  right: 16px;
  top: 16px;
}
/* 动画 */
.mo-popup-content {
  transition: 0.3s;
}
.mo-popup-bottom-enter-active {
  transition-timing-function: ease-out;
}
.mo-popup-bottom-leave-active {
  transition-timing-function: ease-in;
}
.mo-popup-bottom-enter,
.mo-popup-bottom-leave-active {
  transform: translate3d(0, 100%, 0);
}
